#define BENCHMARK_[[ .BenchmarkName ]](b) \
[[ $algorithmLength := len .Algorithms ]] [[ if eq $algorithmLength 0 ]] BENCHMARK(b)->\
    BENCHMARK_[[ $.BenchmarkName ]]_INPUT_ARG_NAMES()->\
    BENCHMARK_[[ $.BenchmarkName ]]_INPUT_ARGS()->\
    UseManualTime(); \
[[ else ]] [[ range $algorithm := .Algorithms ]] BENCHMARK_TEMPLATE(b, [[ $algorithm ]])->\
    BENCHMARK_[[ $.BenchmarkName ]]_INPUT_ARG_NAMES()->\
    BENCHMARK_[[ $.BenchmarkName ]]_INPUT_ARGS()->\
    UseManualTime(); \
  [[ end ]]
[[ end ]]

[[ range $datatype := .DataTypes ]]BENCHMARK_[[ $.BenchmarkName ]]([[ $.BenchmarkName ]]_[[ $datatype.Name | upper ]]__BatchSize_[[$.BatchSize]]__[[$.UniqueBenchmarkID]]);
[[ end ]]
#undef BENCHMARK_[[ .BenchmarkName ]]_INPUT_ARGS
#undef BENCHMARK_[[ .BenchmarkName ]]_INPUT_ARG_NAMES
#undef BENCHMARK_[[ .BenchmarkName ]]
} // end namespace [[ .BenchmarkName ]]__BatchSize_[[$.BatchSize]]__[[.UniqueBenchmarkID]]
#endif // ENABLE_[[ .BenchmarkName ]]
