#ifdef ENABLE_[[ .BenchmarkName ]]
namespace [[ .BenchmarkName ]]__BatchSize_[[$.BatchSize]]__[[.UniqueBenchmarkID]] {

#define BENCHMARK_[[ .BenchmarkName ]]_INPUT_ARGS() \
  Args({{ \
[[ . | make_arguments ]]
  }})


static const std::map<string, double> input_args__[[.UniqueBenchmarkID]]{{
[[ . | make_counters ]]
}};

#define BENCHMARK_[[ .BenchmarkName ]]_INPUT_ARG_NAMES() \
  ArgNames({[[ .ArgNames | join ", " ]]})

static void BENCHMARK_[[ .BenchmarkName ]]_ADD_COUNTERS__BatchSize_[[$.BatchSize]]__[[.UniqueBenchmarkID]](benchmark::State& state) {
  state.counters.insert(input_args__[[.UniqueBenchmarkID]]);
}
