#ifdef ENABLE_[[ .BenchmarkName ]]
namespace [[ .BenchmarkName ]]__[[.UniqueBenchmarkID]] {

#define BENCHMARK_[[ .BenchmarkName ]]_INPUT_ARGS() \
  Args({{ \
[[ . | make_arguments ]]
  }})

#define BENCHMARK_[[ .BenchmarkName ]]_INPUT_ARG_NAMES() \
  ArgNames({[[ .ArgNames | join ", " ]]})

static void BENCHMARK_[[ .BenchmarkName ]]_ADD_COUNTERS__[[.UniqueBenchmarkID]](benchmark::State& state) {
  state.counters.insert({
[[ . | make_counters ]]
  });
}
