
  [[ range $datatype := .DataTypes ]]
  template <cudnnPoolingMode_t pooling_mode>
  static void [[ $.BenchmarkName ]]_[[ $datatype.Name | upper ]]__BatchSize_[[$.BatchSize]]__[[$.UniqueBenchmarkID]](benchmark::State& state) {
    [[ $.BenchmarkName ]]_Impl<[[ $datatype.CType ]], pooling_mode>(state);
    BENCHMARK_[[ $.BenchmarkName ]]_ADD_COUNTERS__BatchSize_[[$.BatchSize]]__[[$.UniqueBenchmarkID]](state);
  }
  [[ end ]]
